.sub-header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 0px 32px;
}
.search-bar {
  width: 316px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon {
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 8px 16px 8px 0px;
}
.search-bar-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}
.create-btn {
  display: flex;
  align-items: center;
}
.create-btn > button {
  width: 122px;
  height: 40px;
  cursor: pointer;
  background-color: #0f60ff;
  color: #ffffff;
}

.product-table {
  width: 1128px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 128px;
}
.table-head {
  width: 1128px;
  height: 47px;
  padding: 0px 24px 0px 16px;
}
.table-row,
.table-row-header {
  display: flex;
  align-items: center;
  width: 1128px;
  height: 58px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 1px;
}
.table-row:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 0.795);
}
.product-name {
  text-align: center;
  width: 200px;
  height: 47px;
  padding: 16px 20px 16px 20px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
.product-price {
  text-align: center;
  width: 165px;
  height: 47px;
  padding: 16px 20px 16px 20px;
}
.product-quantity {
  text-align: center;
  width: 127px;
  height: 47px;
  padding: 16px 20px 16px 20px;
}
.product-description {
  text-align: center;
  width: 313px;
  height: 47px;
  padding: 16px 20px 16px 20px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
.product-image {
  display: flex;
  align-items: center;
  width: 141.5px;
  height: 47px;
  padding: 16px 20px 16px 20px;
}
.product-image > img {
  width: 36px;
  height: 36px;
  border-radius: 2px;
}
.product-action {
  width: 141.5px;
  height: 47px;
  padding: 16px 20px 16px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.action-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    background-color: #e0e0e0;
    border-radius: 50%;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1128px;
  height: 70px;
  padding: 16px 24px 16px 24px;
}
.select-number {
  width: 197px;
  height: 38px;
  color: #8b909a;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.63px;
  letter-spacing: 0.4300000071525574px;
  text-align: left;
}
.select-number > select {
  width: 64px;
  height: 28px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.63px;
  text-align: center;
}

.create-form {
  min-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.create-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.modal-action {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.action-container {
  display: flex;
  justify-content: flex-end;
}

.accept-btn:disabled {
  background-color: #ccc;
}

.accept-btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  font-size: 0.8rem;
  border: none;
  color: #ffffff;
  background: #0f60ff;
  width: 105px;
  height: 32px;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  transition: all 0.25s ease;
  z-index: 1001;
}

.accept-btn:hover {
  transform: translateY(-5px);
  background: #0f60ff;
}

.cancel-btn {
  width: 70px;
  height: 32px;
  padding: 11px 28px;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
  z-index: 1001;
}

.cancel-btn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}
